#notions{
	background: #203c56;
}

.notions--card{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.notions--card p{
	padding: 20px;
	text-align: justify;
}

.notions--card-img{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.notions--card-img>div{
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	margin: 10px auto;

}


@media(max-width: 600px){
	.notions--card{
		display: block;
	}
}